---
import Info from '../../layouts/Info.astro';
import { Divider } from '../../components/Divider';
import { getLivePosts } from '../../content-posts';
import { BigPostInfoLink } from '../../components/writing/BigPostInfoLink';
import { PostInfoLink } from '../../components/writing/PostInfoLink';

const posts = await getLivePosts();
---

<Info title={'Writing'} description={'Articles, reviews, essays,etc.'} class=''>
  <BigPostInfoLink post={posts.shift()!} />
  <Divider />
  <div class='clear-both'>
    {posts.map(info => <PostInfoLink post={info} />)}
  </div>
</Info>
